---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Features from "../components/advantages/Features.astro";
---

<Layout title="Ventajas - Tuboflex Perú">
  <Navbar />
  <main>
    <Features />
  </main>
  <Footer />
</Layout>
