---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/contact-us/Contact.astro";
---

<Layout title="Contáctenos - Tuboflex Perú">
  <Navbar activePage="contacto" />
  <main>
    <Contact />
  </main>
  <Footer />
</Layout>
