---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TrustBanner from "../components/TrustBanner.astro";
import ProductHighlight from "../components/ProductHighlight.astro";
import CtaSection from "../components/CtaSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Tuboflex Perú | Tubos Colapsibles de Aluminio"
  description="Expertos en tubos de aluminio de alta pureza (99.7%) para la industria farmacéutica y cosmética en Perú. Calidad garantizada y tecnología de punta."
>
  <Navbar activePage="inicio" />

  <main>
    <Hero />
    <!--
        <TrustBanner />

     -->

    <ProductHighlight />

    <CtaSection />
  </main>

  <Footer />
</Layout>
