---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import WhoWeAre from "../components/nosotros/WhoWeAre.astro";
import MissionVision from "../components/nosotros/MissionVision.astro";
import Infrastructure from "../components/nosotros/Infrastructure.astro";
import CtaSection from "../components/CtaSection.astro";
---

<Layout title="Nosotros - Tuboflex Perú">
  <Navbar activePage="nosotros" />
  <main>
    <WhoWeAre />
    <MissionVision />
    <!-- 
    <Infrastructure />
    -->
    <CtaSection />
  </main>
  <Footer />
</Layout>
