---
import Layout from "../layouts/Layout.astro";
import ProductSection from "../components/products/ProductSection.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Nuestros Productos - Tuboflex Perú">
  <Navbar />
  <main>
    <ProductSection />
  </main>
  <Footer />
</Layout>
